.list-container-scroll {
  width: 700px !important;
}

.list-container {
  margin-top: 88px;
  display: flex;
  width: 41.53rem;
  background: #07718f;
}

.list-height-limited ul {
  height: 10rem;
  width: 40rem;
  overflow-y: scroll;
}

.list-height-fit ul {
  height: fit-content;
}

.list-container ul {
  flex-direction: column;
  list-style: none;
  margin: 10px;
  padding: 8px;
  border: 4px #bac5c7 solid;
  background: #cecece;
}

.list-container li {
  position: relative;
  width: 150px;
  height: 30px;
  box-shadow: none;
  margin-bottom: 8px;
  margin-top: 4px;
  user-select: none;
  color: rgb(9, 30, 66);
  background: whitesmoke;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: transparent;
  padding: 8px;
  transition: transform 0.2s cubic-bezier(0.2, 0, 0, 1) 0s;
}

.list-container-horizontal ul {
  display: flex;
  list-style: none;
  margin: 50px;
  padding: 8px;
  border-radius: 30px;
  border: 2px #bac5c7 solid;
  background: #cecece;
}

.list-container-horizontal li {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
  width: 180px;
  height: 75px;
  margin: 12px;
  padding: 1px;
  box-shadow: none;
  user-select: none;
  text-align: center;
  font-size: small;
  background: whitesmoke;
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: violet;
  transition: transform 0.2s cubic-bezier(0.2, 0, 0, 1) 0s;
}
