body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-solo {
  margin-left: 20px;
  padding: 0.2rem 0.2rem;
  border: 3px solid #a0ced9;
  background-color: #ffee93;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  min-width: 10rem;
  min-height: 2.8rem;
  color: #595959;
  cursor: pointer;
  outline: none;
  transform: scale(1);
}

.button-solo:hover {
  border: 2px dashed #a0ced9;
  background-color: #fffe93;
}

.root {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgba(243, 244, 246, 1);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0.75rem;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.todo > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #070302;
  padding: 0;
  margin: 0;
}

.todo > ul > li {
  background-color: #8917e0;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  cursor: pointer;
  width: 12rem;
  padding: 1.5rem 1.5rem;
  margin: 0.6rem 0.6rem;
  font-weight: 500;
  font-size: 1rem;
  white-space: normal;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  outline: none;
}

.nested {
  background-color: #302e2d;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nested > div {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.extended {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.extended > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #070302;
  opacity: 0.95;
  padding: 0;
  margin: 0;
}

.extended > ul > li {
  background-color: #8917e0;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  cursor: pointer;
  width: 168px;
  height: 40px;
  margin: 0.6rem 0.6rem;
  white-space: normal;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  outline: none;
}
