.list-restriction-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: #07718f;
}

.list-restriction-container ul {
  flex-direction: column;
  list-style: none;
  margin-top: 6rem;
  margin-right: 5rem;
  padding: 8px;
  border: 4px #fbe7c6 solid;
  background: #a0e7e5;
  height: fit-content;
}

.list-restriction-container li {
  text-align: center;
  font-size: large;
  font-weight: 700;
  width: 150px;
  height: 30px;
  box-shadow: none;
  margin-bottom: 8px;
  margin-top: 4px;
  user-select: none;
  color: rgb(9, 30, 66);
  background: whitesmoke;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: transparent;
  padding: 8px;
  transition: transform 0.2s cubic-bezier(0.2, 0, 0, 1) 0s;
}
