.button-solo {
  position: relative;
  background-color: #22140e;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  outline: none;
  transition: box-shadow 0.3s ease;
  display: flex;
  align-items: center; /* Center vertically */
}

.button-solo:hover {
  background-color: #54341f;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.handler {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  fill: #fff;
}
