.button-solo {
  padding: 14px 20px;
  border: none;
  background-color: #22140e;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #fef240;
  cursor: pointer;
  outline: none;
  transform: scale(1);
}
